{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Informacje o kolejce</h1>
            <div class="box">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <label class="label">Numer kolejki</label>
                        <div class="control">
                            {{ queue.number }}
                        </div>
                    </div>
                    <div class="column is-half">
                        <label class="label">Liczba meczów</label>
                        <div class="control">
                            {{ matches.count }}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mecze</label>
                    <div class="control">
                        <table class="table is-bordered is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Gospodarz</th>
                                    <th>Gość</th>
                                    <th>Wynik</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for match in matches %}
                                <tr>
                                    <td>{{ match.host_team.name }}</td>
                                    <td>{{ match.guest_team.name }}</td>
                                    <td>
                                        {% if match.host_goals is not null and match.guest_goals is not null %}
                                        {{ match.host_goals }} - {{ match.guest_goals }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                    <td>{{ match.date|date:"d.m.Y H:i" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-text-centered">
                        <a class="button is-light" href="{% url 'Queues' %}">Wróć</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}