{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Informacje o kolejce</h1>
            <div class="box">
                <div class="field">
                    <label class="label">Numer kolejki</label>
                    <div class="control">
                        {{ queue.number }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Liczba meczów</label>
                    <div class="control">
                        {{ queue.matches.count }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mecze</label>
                    <div class="control">
                        {{ queue.matches }}
                    </div>
                </div>

                <div class="field">
                    <div class="control has-text-centered">
                        <a class="button is-light" href="{% url 'Queues' %}">Wróć</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
