{% extends 'base.html' %}

{% block content %}
<style>
    .box {
        position: relative;
    }
    .logo {
        position: absolute;
        top: 20px;
        right: 20px;
        max-height: 128px;
        max-width: 128px;
    }
</style>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Informacje o drużynie</h1>
            <div class="box">
                {% if team.logo %}
                    <p>{{ team.logo.url }}</p>
                    <img src="{{ team.logo.url }}" alt="{{ team.name }} logo" class="logo">
                {% endif %}
                <div class="field">
                    <label class="label">Nazwa drużyny</label>
                    <div class="control">
                        {{ team.name }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Imię i nazwisko trenera</label>
                    <div class="control">
                        {% if team.trainer %}
                            {{ team.trainer }}
                        {% else %}
                            Brak obecnie trenera
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Opis</label>
                    <div class="control">
                        {% if team.description %}
                            {{ team.description }}
                        {% else %}
                            Nie ma jeszcze opisu
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Piłkarze</label>
                    <div class="control">
                        {% if footballers %}
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Pozycja</th>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for footballer in footballers %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ footballer.name }}</td>
                                            <td>{{ footballer.surname }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Brak piłkarzy w tej drużynie.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <div class="control has-text-centered">
                        <a class="button is-light" href="{% url 'Teams' %}">Wróć</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
