{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Pozycja</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Drużyna</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for footballer in footballers %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ footballer.name }}</td>
                <td>{{ footballer.surname }}</td>
                <td>{{ footballer.team }}</td>
                <td>
                    <a href="{% url 'Info footballer' footballer.id %}" class="button is-small is-info">
                        <span class="icon">
                            <i class="fas fa-info"></i>
                        </span>
                        <span>Info</span>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'Edit footballer' footballer.id %}" class="button is-small">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span>Edytuj</span>
                    </a>
                    <a href="{% url 'Delete footballer' footballer.id %}" class="button is-small is-danger">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span>Usuń</span>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <a href="/footballers/add" class="button is-rounded">Dodaj zawodnika</a>
    {% endif %}

</div>
{% endblock %}
