{% extends 'base.html' %}

{% block content %}
<div class="container is-max-desktop mt-6">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Logowanie</h1>
            <div class="box">
                <form method="POST">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="notification is-danger">
                            {% for error in form.non_field_errors %}
                                <p>Nieprawidłowa nazwa użytkownika lub hasło.</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="field">
                        <label class="label">Nazwa użytkownika</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Nazwa użytkownika">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Hasło</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Hasło">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" type="submit">Zaloguj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .custom-error {
        color: red;
        font-size: 14px;
    }
</style>
{% endblock %}
