{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Edytuj mecz</h1>
            <div class="box">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="notification is-danger">
                            {% for error in form.non_field_errors %}
                                <p class="help custom-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="columns is-multiline is-mobile">
                        <div class="column is-half">
                            <label class="label">Data meczu</label>
                            <div class="control">
                                <input class="input" type="datetime-local" name="date"
                                    value="{% if form.instance.date %}{{ form.instance.date|date:'Y-m-d\TH:i' }}{% else %}{{ form.date.value|date:'Y-m-d\TH:i' }}{% endif %}" placeholder="Wprowadź datę meczu">
                            </div>
                            {% if form.date.errors %}
                                <p class="help error">Data nie może być pusta.</p>
                            {% endif %}
                        </div>
                        <div class="column is-half">
                            <label class="label">Kolejka</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.queue }}
                                </div>
                            </div>
                            {% if form.queue.errors %}
                                <p class="help custom-error">{{ form.queue.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="columns is-multiline is-mobile">
                        <div class="column is-half">
                            <label class="label">Gospodarz</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.host_team }}
                                </div>
                            </div>
                            {% if form.host_team.errors %}
                                <p class="help custom-error">{{ form.host_team.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="column is-half">
                            <label class="label">Goście</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.guest_team }}
                                </div>
                            </div>
                            {% if form.guest_team.errors %}
                                <p class="help custom-error">{{ form.guest_team.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" type="submit">Zapisz</button>
                            <a class="button is-light" href="{% url 'Matches' %}">Anuluj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-error {
        font-size: 14px;
    }
    .error {
        color: red;
        font-size: 14px;
    }
</style>

{% endblock %}
