{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <table class="table is-fullwidth sortable">
        <thead>
            <tr>
                <th>Lp.</th>
                <th class="sortable-header">
                    Data <i class="fas fa-sort"></i>
                </th>
                <th class="sortable-header">
                    Kolejka <i class="fas fa-sort"></i>
                </th>
                <th>Gospodarz</th>
                <th>Gość</th>
                <th>Wynik</th>
                <th>Wydarzenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ match.date|date:"d.m.Y H:i" }}</td>
                <td>{{ match.queue.number }}</td>
                <td>{{ match.host_team }}</td>
                <td>{{ match.guest_team }}</td>
                <td>
                    {% if match.host_goals is not null and match.guest_goals is not null %}
                    {{ match.host_goals }} : {{ match.guest_goals }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    <ul>
                        {% for event in match.events.all %}
                        <li>{{ event.get_event_type_display }} - {{ event.minute }}' ({{ event.footballer }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{% url 'Info match' match.id %}" class="button is-small is-info">
                        <span class="icon">
                            <i class="fas fa-info"></i>
                        </span>
                        <span>info</span>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'Edit match' match.id %}" class="button is-small">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span>Edytuj</span>
                    </a>
                    {% if match.date <= now %}
                    <a href="{% url 'Add match result' match.id %}" class="button is-small is-warning">
                        <span class="icon">
                            <i class="fas fa-poll-h"></i>
                        </span>
                        <span>Dodaj wynik</span>
                    </a>
                    {% else %}
                    <a href="#" class="button is-small is-warning" title="Dodanie wyniku dostępne po rozpoczęciu meczu" disabled>
                        <span class="icon">
                            <i class="fas fa-poll-h"></i>
                        </span>
                        <span>Dodaj wynik</span>
                    </a>
                    {% endif %}
                    <a href="{% url 'Delete match' match.id %}" class="button is-small is-danger">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span>Usuń</span>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
    <a href="/matches/add" class="button is-rounded">Dodaj mecz</a>
    {% endif %}
</div>
<!-- Include sorttable.js for sortable tables -->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<style>
    .sortable-header {
        cursor: pointer;
        user-select: none;
    }

    .sortable-header:hover {
        cursor: pointer;
        color: #3273dc;
        /* Primary color for better visibility */
    }

    .sortable-header .fa-sort {
        margin-left: 5px;
    }
</style>
{% endblock %}