{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Add Team</h1>
            <div class="box">
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Enter player name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Surname</label>
                        <div class="control">
                            <input class="input" type="text" name="surname" placeholder="Enter surname">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Team</label>
                        <div class="control">
                            <div class="select">
                                {{form.team}}
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" type="submit">Add Footballer</button>
                            <a class="button is-light" href="{% url 'Footballers' %}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
