{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Dodaj drużynę</h1>
            <div class="box">
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Nazwa drużyny</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Wprowadź nazwę drużyny">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Imię i nazwisko trenera</label>
                        <div class="control">
                            <input class="input" type="text" name="trainer" placeholder="Wprowadź imię i nazwisko trenera">
                        </div>
                    </div>
                    <!--<div class="field">
                        <label class="label">Remisy</label>
                        <div class="control">
                            <input class="input" type="number" name="draws" placeholder="Wprowadź remisy">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Przegrane</label>
                        <div class="control">
                            <input class="input" type="number" name="losses" placeholder="Wprowadź przegrane">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Strzelone gole</label>
                        <div class="control">
                            <input class="input" type="number" name="goals_scored" placeholder="Wprowadź strzelone gole">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Stracone gole</label>
                        <div class="control">
                            <input class="input" type="number" name="goals_lost" placeholder="Wprowadź stracone gole">
                        </div>
                    </div>-->

                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-primary" type="submit">Dodaj</button>
                            <a class="button is-light" href="{% url 'Teams' %}">Anuluj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
