{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Pozycja</th>
                <th>Data</th>
                <th>Gospodarz</th>
                <th>Gość</th>
                <th>Wynik</th>
                <th>Wydarzenia</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ match.date }}</td>
                <td>{{ match.host_team }}</td>
                <td>{{ match.guest_team }}</td>
                <td>{{ match.host_goals }} : {{ match.guest_goals }}</td>
                <td>
                    <ul>
                        {% for event in match.event_set.all %}
                            <li>{{ event.get_event_type_display }} - {{ event.minute }}' ({{ event.footballer }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <a href="/add_match" class="button is-rounded">Dodaj mecz</a>
    {% endif %}
</div>
{% endblock %}
