{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <h1 class="title">Queue Table</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Kolejki</th>
                <th>Rozgrywane mecze</th>
            </tr>
        </thead>
        <tbody>
            {% for queue in queues %}
            <tr>
                <td>Kolejka {{ queue.id }}</td>
                <td>
                    <button class="button is-info" onclick="toggleQueue('queue{{ queue.id }}')">pokaż kolejkę</button>
                    <div id="queue{{ queue.id }}" class="expanded-table" style="display: none; width: 100%;">
                        <table class="table is-bordered is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Gospodarz</th>
                                    <th>Gość</th>
                                    <th>Wynik</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for match in queue.matches.all %}
                                <tr>
                                    <td>{{ match.host_team.name }}</td>
                                    <td>{{ match.guest_team.name }}</td>
                                    <td>{{ match.host_goals }} - {{ match.guest_goals }}</td>
                                    <td>{{ match.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .expanded-table {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script>
    function toggleQueue(queueId) {
        var queueElement = document.getElementById(queueId);
        if (queueElement.style.display === "none") {
            queueElement.style.display = "block";
        } else {
            queueElement.style.display = "none";
        }
    }
</script>
{% endblock %}
