{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <h1 class="title">Ranking zawodników</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Pozycja</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Drużyna</th>
                <th>Mecze rozegrane</th>
                <th>Gole</th>
                <th>Asysty</th>
                <th>Żółte kartki</th>
                <th>Czerwone kartki</th>
            </tr>
        </thead>
        <tbody>
            {% for statistic in statistics %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ statistic.footballer.name }}</td>
                <td>{{ statistic.footballer.surname }}</td>
                <td>{{ statistic.footballer.team.name }}</td>
                <td>{{ statistic.matches_played }}</td>
                <td>{{ statistic.goals_scored }}</td>
                <td>{{ statistic.assists }}</td>
                <td>{{ statistic.yellow_cards }}</td>
                <td>{{ statistic.red_cards }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
