{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <table class="table is-fullwidth sortable">
        <thead>
            <tr>
                <th class="sortable-header">Pozycja <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Imię <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Nazwisko <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Drużyna <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Gole <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Asysty <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Żółte kartki <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Czerwone kartki <i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for statistic in statistics %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ statistic.footballer.name }}</td>
                <td>{{ statistic.footballer.surname }}</td>
                <td>{{ statistic.footballer.team.name }}</td>
                <td>{{ statistic.goals_scored }}</td>
                <td>{{ statistic.assists }}</td>
                <td>{{ statistic.yellow_cards }}</td>
                <td>{{ statistic.red_cards }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include sorttable.js for sortable tables -->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<style>
    .sortable-header {
        cursor: pointer;
        user-select: none;
    }

    .sortable-header:hover {
        cursor: pointer;
        color: #3273dc; /* Primary color for better visibility */
    }

    .sortable-header .fa-sort {
        margin-left: 5px;
    }
</style>
{% endblock %}
