{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
    <table class="table is-fullwidth sortable">
        <thead>
            <tr>
                <th class="sortable-header">Pozycja <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Nazwa <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Ilość meczy <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Wygrane <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Remisy <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Przegrane <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Gole strzelone <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Gole stracone <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Różnica goli <i class="fas fa-sort"></i></th>
                <th class="sortable-header">Punkty <i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ team.name }}</td>
                <td>{{ team.matches_count }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.draws }}</td>
                <td>{{ team.losses }}</td>
                <td>{{ team.goals_scored }}</td>
                <td>{{ team.goals_lost }}</td>
                <td>{{ team.goals_balance }}</td>
                <td>{{ team.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<style>
    .sortable-header {
        cursor: pointer;
        user-select: none;
    }
    .sortable-header:hover {
        cursor: pointer;
        color: #3273dc;
    }
    .sortable-header .fa-sort {
        margin-left: 5px;
    }
</style>
{% endblock %}
